{% extends 'layout.html'%}
{% block nav%}
    <div class="navbar-collapse collapse offset-md-5" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('branches') }}">Cntry/Brnch</a>
          </li>
alert-
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('payments') }}">Payments</a>
          </li>

        <li class="nav-item">
            <a class="nav-link " href="{{ url_for('extras') }}">Extras</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="{{ url_for('help') }}">Help</a>
          </li>

          <li class="nav-item">
                <a class="nav-link " href="{{ url_for('logout') }}" style="color:red;">Logout</a>
          </li>
        </ul>
      </div>
{% endblock %}
{% block status%}
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h5 style="font-size:15px;">Dashboard / <span style="color:grey;">Payments</span></h5>
            <span class="color-text-a"></span>
          </div>
        </div>
      </div>
<!--      body-->
      <div class="col-lg-12 row mt-4">
        <div class="btn-group row  col-lg-4" role="group" aria-label="Basic example">
          <button type="button" class="btn  btn-sm btn-outline-primary" id="mpesa">Mpesa Payments</button>
          <button type="button" class="btn btn-sm  btn-outline-primary" id="card">Card Payments</button>
          <button type="button" class="btn btn-sm  btn-primary" id="reports">Reports</button>
        </div>
      </div>
    </div>
  </section>
{% endblock%}
{% block content %}

<style>
    .reports{
        margin-left : 0px;
    }
    #frequency{
        margin-right : 40px;
    }
    .reports{
        margin-left:-30px;
    }
</style>
    <div class="">
        <h5 id="section">Reports</h5>
        <div class="text-muted">Please Select Either of the links to generete reports.</div><br>
        <!-- <div class="alert alert-danger col-lg-5 alert-dismissible" role="alert" id="error" style="display:none;">
            Sorry, Data For This Kind Of Report Does Not Exists Yet.
          </div> -->
          <div class="alert alert-info col-lg-5" style="display:none" role="alert" id="generating">
            Generating Report.
          </div>
          <!-- <div class="alert alert-success col-lg-5" style="display:none" role="alert" id="done">
            &#128076; Report Successfully Generated.
          </div> -->
        <div class="alert alert-success col-lg-5" style="display:none" role="alert" id="error">
            &#128076; Report Successfully Generated.
        </div>
        <div class="reports row col-lg-12">
        <!-- Report Type -->
        <div class="col-lg-3">
                <label for="frequency">Duration</label>
                <select class="form-control form-control-sm" id="frequency" name="frequency" onchange="getFrequency(this);">
                    <option id="periodOne"  selected value="null">Select The Frequency</option>
                    <option class="period" id="daily" value="day">Daily Reports</option>
<!--                    <option class="period" id="weekly" value="week">Weekly Reports</option>-->
                    <option class="period" id="monthly" value="month">monthly Reports</option>
                </select>
        </div>
            <div class="col-lg-3" >
                    <label for="type">Kind</label>
                    <select class="form-control form-control-sm" id="type" name="type"  disabled>
                        <option id="statusOne" selected value="null">Payments Type</option>
                        <option class="status" id="payment" value="1">Instant</option>
                        <option class="status" id="booking" value="2">online</option>
                        <option class="status" id="all" value="3">All</option>
                    </select>
            </div>

            <!-- time -->
            <div class="col-lg-3" id="dateCont">
                <label for="dailyCal">Select Date</label>
                <input type="text" type="text" readonly class="form-control form-control-sm" id="dailyCal" name="daily">
            </div>

            <div class="col-lg-3" id="monthCont" style="display: none;" >
                    <label for="month">Select Month</label>
                    <input readonly type="text" class="form-control form-control-sm" id="month" name="weekNumber">
            </div>

            <!-- week numebers -->
            <div class="col-lg-3" id="weekCont" style=" display:none"  >
                <label for="weeks">Select Week</label>
                <select class="form-control form-control-sm" id="weeks" name="weeks" onmouseover="updateWeek(this)">
                        <option id="weekNumber" selected value="null">Week Number</option>
                        <option class="week" id="one" value="1">Week One </option>
                        <option class="week" id="two" value="2">Week Two</option>
                        <option class="week" id="three" value="3">Week Three </option>
                        <option class="week" id="four" value="4">Week Four </option>
                        <option class="week" id="five" value="5">Week Five </option>
                    </select>
            </div>

        </div><br><br>
        <button class="btn btn-primary btn-sm col-lg-2" id="generate_payments" >Generate Report</button>
    </div>
    <br><br>
    <div class="reportDiv">
        <!-- report container -->
        <table class="table table-striped table-bordered table-hover" style="display:none" id="report">
            <thead>
<!--
{
    "amount": 5.0,
    "checkout_request_id": "ws_CO_090720201422507223",
    "date_added": "2020-07-09T11:27:52",
    "id": 2,
    "local_transactional_key": "3a5ec789b6b09619f2dd",
    "merchant_request_id": "17556-3808479-1",
    "phone_number": "254719573310",
    "receipt_number": "OG99LZHERF",
    "result_code": 0,
    "result_desc": "The service request is processed successfully.",
    "transaction_date": "20200709142258"
},
-->
            <tr>
                <th scope="col" id="issueid">Transaction ID</th>
                <th scope="col" id="from">Reciept Number</th>
                <th scope="col" id="subject">Phone number</th>
                <th scope="col" id="dateReceived">Checkout Reqeust ID</th>
                <th scope="col" id="assignedTo">Result Code</th>
                <th scope="col" id="dateAssigned">Local Transaction Key</th>
                <th scope="col" id="resolvedBy">AMount</th>
                <th scope="col" id="resolveDate">Status</th>
<!--                <th scope="col" id="dateClosed">Date Closed</th>-->
<!--                <th scope="col" id="solution">Solution</th>-->
<!--                <th scope="col" id="reason">Reason</th>-->
            </tr>
            </thead>
            <tbody id="reportBody" >
            </tbody>
        </table>
    </div>
{% endblock %}